
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Hotel Reservation System</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
</head>
<body>

	<div class="container my-2">
	<h1 class="text-primary">Home Page</h1>
	<div class="row">
	  <div class="col-sm-3 ">
	  
	  <ul class="nav navbar-dark bg-dark">
	  <li class="nav-item"><a  th:href = "@{/registration}" class=" nav-link btn btn-md mb-3 "> Add  Guest </a></li>
	  <li class="nav-item"><a  th:href = "@{/getGuests}" class=" nav-link btn  btn-md mb-3"> Guest List</a></li>
	  <li class="nav-item"><a  th:href = "@{/hotelRegister}" class=" nav-link btn btn-md mb-3"> Add  Hotel </a></li>
	  <li class="nav-item"><a  th:href = "@{/getHotels}" class=" nav-link btn btn-md mb-3"> Hotel List </a></li>
	  <li class="nav-item"><a  th:href = "@{/bookingRegister}" class="nav-link btn btn-md mb-3"> Add Booking </a></li>
	  <li class="nav-item"><a  th:href = "@{/getbookings}" class=" nav-link btn btn-md mb-3"> Booking list </a></li>
	  <li class="nav-item"><a  th:href = "@{/roomRegister}" class="nav-link btn btn-md mb-3"> Add Room </a></li>
	  <li class="nav-item"><a  th:href = "@{/getrooms}" class=" nav-link btn btn-md mb-3"> Room list </a></li>
	  <li class="nav-item"><a  th:href = "@{/paymentRegister}" class="nav-link btn btn-md mb-3"> Add Payment </a></li>
	  <li class="nav-item"><a  th:href = "@{/getpayments}" class=" nav-link btn btn-md mb-3"> Payment list </a></li>
	  </ul>
	  </div>
	  <div class="col-sm-9">
	  </div>
	</div>
	
</div>
</body>		
</html>


